<!doctype html> 

<head> 
    <title>so canadian tired</title>
    <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script> 
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.5/aframe/build/aframe-ar.js"></script> 
    <script src="https://rawgit.com/donmccurdy/aframe-extras/v2.1.1/dist/aframe-extras.loaders.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head> 
<body>
    <div id="root"></div> 
</body>
